{% extends 'common.html' %}

{% block title %}首页{% endblock %}

{% block job %}
  <div class="jumbotron">
    <div class="container">
      <h2>OOI社区</h2>
      <p>OOI社区一个以舰娘玩家为核心的网络社区，在这里可以讨论和分享各种舰娘有关的话题</p>
      <p><a class="btn btn-primary btn-lg" href="{% url 'user-login' %}" role="button">登录</a> <a class="btn btn-primary btn-lg" href="{% url 'user-register' %}" role="button">注册</a></p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-5 indent">
        <h2>OOI系统</h2>
        <p>OOI (Online Objects Integration)是针对DMM网页游戏《艦隊これくしょん -艦これ-》的在线缓存系统。</p>
        <p>通过OOI系统可以在日本以外的地区轻松地进行游戏，不需要设置任何代理服务器或者VPN。</p>
        <p>同时，支持FLASH的Andriod手机或平板也可以利用OOI系统进行游戏。</p>
      </div>
      <div class="col-md-5 col-md-offset-1 indent">
        <h2>Hacking</h2>
        <p>在OOI社区，玩家可以分享和使用各种自定义的舰娘模型（俗称魔改）。</p>
        <p>OOI社区内汇集了大量玩家上传的魔改，只需要在网页上选择并启用自己喜爱的魔改，即可在OOI系统中体验效果，无需下载和复杂的配置。</p>
      </div>
    </div>
  </div>
{% endblock %}