{% extends 'oh_discussion/base.html' %}
{% load i18n avatar_tags crispy_forms_tags oh_tags %}

{% block title %}{{ topic.title }}{% endblock %}

{% block main %}
  <div class="discussion-topic">
    <div class="discussion-topic-avatar-right">
      <img src="{% avatar_url topic.author %}" class="avatar-topic-right">
    </div>
    <h4><strong>{{ topic.title }}</strong></h4>
    <p>发布者：{{ topic.author.username }} | 发布时间：{{ topic.create_time|date:"Y-n-j G:i" }} | 更新时间：{{ topic.revise_time|date:"Y-n-j G:i" }}</p>
    {% ifequal user topic.author %}<p><a href="{% url 'discussion-topic-update' pk=topic.pk %}" class="btn btn-primary" role="button">修改主题内容</a></p>{% endifequal %}
    <hr class="discussion-topic-spacer clearfix">
    <div>{{ topic.content|xss_safe }}</div>
    {% ifnotequal topic.create_time topic.update_time %}<p class="alert alert-info">作者于 {{ topic.update_time|date:"Y-n-j G:i" }} 修改了主题内容</p>{% endifnotequal %}
  </div>
  <hr>
  <div class="discussion-reply">
    {% for r in topic.replies.all %}
      {% if r.is_visible %}
      <div class="discussion-reply-entity">
        <p><img src="{% avatar_url r.author %}" class="avatar-reply"> {{ r.author.username }} 于 {{ r.create_time|date:"Y-n-j G:i" }} 发表回复：</p>
        <div class="discussion-reply-content">
          {{ r.content|xss_safe }}
        </div>
        {% if not forloop.last %}<hr class="discussion-topic-spacer">{% endif %}
      </div>
      {% endif %}
    {% empty %}
      <p>当前主题还没有回复。</p>
    {% endfor %}
    <hr class="discussion-topic-spacer">
    <div class="discussion-reply-form">
      {% crispy form %}
    </div>
  </div>
{% endblock %}
