body {
  padding-top: 50px;
  font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}
footer {
  font-size: 12px;
}

img.captcha {
  margin-right: 1em;
}
img.avatar-nav {
  height: 18px;
}

.narrow-dropdown-menu {
  min-width: 128px !important;
}
.navbar-inverse .navbar-brand {
  color: rgb(255, 255, 255);
}
.indent p {
  text-indent: 2em;
}
.content {
  padding-top: 1em;
}
.message {
  padding-top: 4em;
  padding-bottom: 4em;
}
.message p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.avatar-upload {
  padding-bottom: 10em;
}
.avatar-primary {
  padding-bottom: 10em;
}
.avatar-primary #id_choice, .avatar-primary #id_choices {
  padding-left: 0;
}
.avatar-primary li {
  width: 90px;
  height: 110px;
  display: block;
  text-align: center;
  float: left;
}
.avatar-primary li label {
  display: block;
}
.avatar-primary li label input {
  display: block;
  margin: 0 auto 4px auto;
}
