body {
  padding-top: 50px;
  font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}
footer {
  font-size: 12px;
}

img.captcha {
  margin-right: 1em;
}

.narrow-dropdown-menu {
  min-width: 128px !important;
}
.navbar-inverse .navbar-brand {
  color: rgb(255, 255, 255);
}
.indent p {
  text-indent: 2em;
}
.content {
  padding-top: 1em;
}
.message {
  padding-top: 4em;
  padding-bottom: 4em;
}
.message p {
  margin-top: 1em;
  margin-bottom: 1em;
}