<hr>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5>海平线镇守府</h5>
        <p><a href="http://ooi.moe">OOI系统</a></p>
        <p><a href="https://kancolle.tv">舰队collection资讯</a></p>
        <p><a href="http://bbs.kancolle.tv">海平线镇守府论坛</a></p>
        <p><a href="https://github.com/acgx">Github项目主页</a></p>
      </div>
      <div class="col-sm-3">
        <h5>鸣谢</h5>
        <p><a href="https://kancolle.im">Misaka030 & 舰队司令部</a></p>
        <p><a href="https://github.com/poooi">poooi项目组</a></p>
        <p><a href="http://zh.kcwiki.moe">舰娘百科</a></p>
      </div>
      <div class="col-sm-3">
        <h5>赞助商</h5>
        <p><a href="https://shop117802716.taobao.com/?spm=a1z10.1-c.w10578375-12112758698.2.uMBWcx">cheche的万事屋</a></p>
      </div>
      <div class="col-sm-3">
        <h5>文档</h5>
        <p><a href="">关于我们</a></p>
        <p><a href="">侵权申诉</a></p>
        <p><a href="">资源免责声明</a></p>
      </div>
    </div>
  </div>
</footer>